.skills{
  background-color: blueviolet;
  height: 700px;
 
}

.logo{
  width: 200px;
  height: 150px;
  margin: 10px 10px;
  position: relative;
  top: 40px;
  left: 90px;
  border-radius: 10px; 
}
.logo:hover{
  transform: scale(1.1);
}
.skill_icon{
  width: 850px;
  height: 490px;
  position: relative;
  left: 370px;
  top: 100px;
  background-color: black transparent;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tecs{
  color: yellow;
}
